#secret-id-map-mapbox-location-field {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: visible;

}

.js-mapbox-input-location-field {
    visibility: visible;
    width: 70%;
    margin: 0.3%;
}
